#game {
  /* position: relative;  */
  top: 50px;
  /* width: 890px; */
  margin: auto;
}
#game section {
  clear: both;
  position: relative;
}
#game-board {
  /* background-image: url(./wood.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 0;
}
#player1, #player2 {
  width: 100%;
  text-align: center;
  /* height: 50px; */
  font-size: 2em;
  font-weight: bold;
  /* height: 200px; */
  display: table;
}
#player1 label, #player2 label{
  width: 30%;
  height: 100%;
  /* float: left;
  vertical-align: middle;
  text-align: left; */
  display: table-cell;
  vertical-align: middle;
}
#player1 label + div, #player2 label + div{
  /* width: 50%;
  margin-left: 50%; */
  height: 100%;
}
.wrapper {
  /* width: 680px; */
  /* margin: 0 100px; */
  /* height: 200px; */
  width: 945px;
  margin: 0 auto;
}
.pot {
  /* border: 1px solid #ccc; */
  height: 200px;
  width: 100px;
  /* position: absolute; */
  /* top: 0; */
  /* padding: 20px; */
}
.cup {
  display: inline-block;
  /* border: 1px solid #ccc; */
  border-radius: 50px;
  margin: 5px; /*auto;*/

  /* position: absolute; */
  /* top: 50%; */
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  /* background-color: #fff; */
  /* opacity: .2; */
}
.label {
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.pot .cup {
  width: 100%;
  height: 100%;
}
#player1 {
  left: 0;
  height: 80px
}
#player2 {
  right: 0;
  height: 80px;
}
ul {
  clear: both;
  margin: 0;
  padding: 0;
}
ul li {
  width: 100px;
  height: auto;/*200px;*/
  /* float: left; */
  display: inline-block;
  position: relative;
  margin: 5px;
}
ul li span {
  position: relative;
}
.wrapper .cup {
  width: 100px;/*100%;*/
  height: 100px; /*50%;*/
  position: relative;
}
.player1.pot, .player2.pot {
 height: 210px;/*100%;*/ 
}
.player1.cup {
  /* background-color: #bbb; */
  border: 3px solid red;
}
.player2.cup {
  /* background-color: #999; */
  border: 3px solid green;
}
.player1.cup + .label{
  /* top: -25px; */
  position: absolute;
  top: -120px;
  margin: 0 50px;
}
.player2.cup + .label{
  /* top: 107px; */
  position: absolute;
  margin: 0px 50px;
  /* top: 0; */
}
.player1.pot + .label{
  top: -235px;
}
.player2.pot + .label{
  top: 15px;
}
.seed {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;

}
.marble {
  background-image: url(./marbles.jpg);
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: 1px solid red;
  background-repeat: no-repeat;
  background-size: inherit;
  border-radius: 20px;
  position: absolute;
}
.hand {
  position: relative;
}
.hand .marble {
  position: relative;
  float: left;
}
.m0 {
   background-position: -30px 0;
}
.m1 {
  background-position: -63px 0px;
}
.m2 {
  background-position: -122px -0x;
}
.m3 {
  background-position: 0 -88px;
}
.m4 {
  background-position: 0-217px -82px;
}

.m5 {
  background-position: -256px -82px;
}
.m6 {
  background-position: -184px -120px;
}
.m7 {
  background-position: -247px -120px;
}
.m8 {
  background-position: -83px -91px;
}
.m9 {
  background-position: -34px -37px;
}
.m10 {
  background-position: -6px -26px;
}
.m10 {
  background-position: -140px -25px;
}
.m11 {
  background-position: 0px 36px;
}
.m12 {
  background-position: 0px 36px;
}
#msg {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}